<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Awesome Web Application :: Java2Days </title>

    <link href="webjars/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Awesome web-app :: Java2Days</a>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main application -->

<div class="container" ng-controller="EventListController">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-10">
            <!--<label>Search:</label>-->
            <!--<input type="text" ng-model="query" placeholder="Type to search">-->

            <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                  </span>
                <input type="text" class="form-control" ng-model="query" placeholder="Type to search">
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary glyphicon glyphicon-refresh" ng-click='queryEvents()'>Refresh</button>
            <button class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal">Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of events</h2>

            <p>Total number of events: {{events.length}}</p>
            <table class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Links</td>
                    <td>Options</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in events | filter:query">
                    <td>{{$index + 1}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td><a ng-repeat="link in event.links" ng-href="{{link.href}}">{{link.rel}}</a></td>
                    <td>
                        <button
                                class="btn btn-danger glyphicon glyphicon-trash"
                                ng-click="deleteEvent(event)"
                                >Delete
                        </button>
                        <button
                                class="btn btn-warning glyphicon glyphicon-edit"
                                ng-click="editEvent(event)"
                                data-toggle="modal"
                                data-target="#myModal"
                                >Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{currentEvent.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                          <span class="input-group-addon" size="33">Name</span>
                          <input type="text" class="form-control" ng-model="currentEvent.name" placeholder="Enter event name">
                    </div>

                    <div class="input-group">
                          <span class="input-group-addon" size="33">Description</span>
                          <input type="text" class="form-control" ng-model="currentEvent.description" placeholder="Enter event description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <footer>
        <p>&copy; My Big Company 2013</p>
    </footer>
</div>
<!-- /container -->

<script src="webjars/jquery/2.1.1/jquery.js"></script>
<script src="webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.2.16/angular.js"></script>
<script src="assets/js/controllers.js"></script>
</body>
</html>
